@import "tailwindcss";

/* Applying custom css regarding different breakpoints */
@theme {

  /* defining some breakpoints here another way to set the breakpoints */
  --breakpoint-xsz: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* colors to be used */
  --color-site: #564ee6;
  --color-gradU: #5245e6;
  --color-gradD: #773cec;
  --color-secondary: #292826;

}

@layer utilities {
  .font-poppins {
    font-family: "Poppins", serif;
  }

  .font-merriweather {
    font-family: "Merriweather", serif;
  }

  .font-inter {
    font-family: "Inter", serif;
  }

  .font-roboto {
    font-family: "Roboto", serif;
  }

  body{
    background-color: white;
  }

}